---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Hello.";

import { getCollection } from 'astro:content';

const allPosts = await getCollection('posts');
---

<BaseLayout pageTitle={pageTitle}>

	<main>
		<article>
			
			{allPosts.map(post => (
				<a href={`/posts/${post.slug}`} title={post.data.title}>
					<h1>{post.data.title}</h1>
					<p>{post.data.description}</p>
				</a>
			))}

		</article>

		<aside>
			no
		</aside>
	</main>

</BaseLayout>