---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>

    <main>
        <article class="post">

            <!-- <img src={frontmatter.image.url} alt={frontmatter.image.alt} width="100%"/> -->
            <h1>{frontmatter.title}</h1>
            <div class="tags">
                {frontmatter.tags.map((tag) => <a class="tag" href={`/tags/${tag}`}>{tag}</a>)}
            </div>
            <!-- smash in the md content -->
            <slot />

        </article>

        <aside>

            <span>Written by <p>{frontmatter.author}</p></span>
            <p>Published on {frontmatter.pubDate.toString().slice(0,10)}</p>
            <p>{frontmatter.description}</p>

        </aside>

    </main>
</BaseLayout>

<style>

    aside span {
        font-size: 1.45rem;
        color: var(--text-secondary);
    }

    aside p {
        font-size: 1.45rem;
        color: var(--text-primary);
    }

</style>